$white: #ffffff;
$black: #000000;
$pink: #ebacac;
$pink-light: #f9e6e6;
$purple: #6f2e6d;
$orange: #ff5b5b;
$gray: #f8f8f8;
$gray-light: #fafafa;
$blue: #007aff;
$green: #4cd964;
$red: #C4161C;
$clay-browm: #b98b3c;

$rgbs-white: rgba(248, 248, 248, 0.82);
$rgba-gray: rgba(142, 142, 147, 0.12);
